.loading {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 1;
}

.loading > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid var(--primary-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--text-color);
  font-size: 1.4rem;
  animation: loadingRate 800ms linear infinite;
}

@keyframes loadingRate {
  to {
    transform: rotate(-360deg);
  }
}
