.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  background-image: url('../../assets/images/slidebar.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  max-width: 550px;
}

.heading {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.caption {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  width: 300px;
  height: 100px;
  background-size: cover;

  img {
    width: 100%;
  }
}
